.booking-container
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: solid 1px orange;
    border-right: solid 1px orange;
    text-align: center;
}
.client-booking
{
    text-align: left;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-radius:20px ;
    /* background-color:
     rgb(33, 43, 54); */
     box-shadow: 0 4px 20px 0 black;
    padding: 15px;
    margin-top: 40px;
    height: 240px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: left; */
    padding-top: 60px;
}
.client-booking p
{

    margin: 3px;
    margin-left: 20%;
    font-weight: 600;
}
.cancel-booking
{
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 30%; */
}