.header-content
{
display: flex;
width: 100%;
height: 60px;
color: aliceblue;
background-color: #333537;
background-color: rgb(35, 42, 48);
}
.header-content h3{

    width: 110px;
    height: 50px;
}
.header-content h3:hover{

    color:#F9C200; 
    transition: 0.2s;
    cursor: pointer;
}
.text
{
    display: flex;
   position: absolute;
   right: 0px;
   top:0;
   text-align: center;
   height: 60px;
   background-color: rgb(35, 42, 48);
}
label
{
    margin: 15px;
    font-size: 30px;
    display: none;
    
}
#check
{
    display:none;
}
@media only screen and (max-width:900px){
    .text{
        display: none;
    }
.header-content label
{
    display:block;
    transition: ease-in-out;
    transition: 0.3s;
    cursor: pointer;
}
.text h2{
    font-weight: 300;
    font-size:16px;
    width: 250px;
}
.text
{
    top: 60px;
    background-color: rgb(35, 42, 48);
    height: 300px;
    width: 200px;
}
/* #check:checked + .text
{
display: block;
}     */
}
