*
{
    font-family: sans-serif;
}
.loginas-container
{
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 400px;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-btn
{
    width: 300px;
    height: 45px;
    border-radius: 8px;
    border: none;
    padding: 1%;
    margin: 12px;  
    cursor: pointer;
    background: black;
    font-size: medium;
    color: white;
}
.login-btn:hover
{
    
    background:rgb(61, 61, 61);
}
